
:root {
 $font_color: #000000;
 $background-color: #f8f9fa;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ecb807;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-secondary: #ecb807;
    --bs-success: #198754;
    --bs-info: #000000;
    --bs-warning: #ecb807;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 29, 128, 159;
    --bs-secondary-rgb: 236, 184, 7;
    --bs-success-rgb: 25, 135, 84;
    --bs-warning-rgb: 236, 184, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-rgb: 33, 37, 41;

/*Color de Tablas */
    .table-primary {
        --bs-table-bg: #d2e6ec;
        --bs-table-striped-bg: #c8dbe0;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #bdcfd4;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #c2d5da;
        --bs-table-hover-color: #000;
        color: #000;
        border-color: #bdcfd4; }
      
      .table-secondary {
        --bs-table-bg: #fbf1cd;
        --bs-table-striped-bg: #eee5c3;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #e2d9b9;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #e8dfbe;
        --bs-table-hover-color: #000;
        color: #000;
        border-color: #e2d9b9; }
      
      .table-success {
        --bs-table-bg: #d1e7dd;
        --bs-table-striped-bg: #c7dbd2;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #bcd0c7;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #c1d6cc;
        --bs-table-hover-color: #000;
        color: #000;
        border-color: #bcd0c7; }
      
      .table-info {
        --bs-table-bg: #cff4fc;
        --bs-table-striped-bg: #c5e8ef;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #badce3;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #bfe2e9;
        --bs-table-hover-color: #000;
        color: #000;
        border-color: #badce3; }
      
      .table-warning {
        --bs-table-bg: #fbf1cd;
        --bs-table-striped-bg: #eee5c3;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #e2d9b9;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #e8dfbe;
        --bs-table-hover-color: #000;
        color: #000;
        border-color: #e2d9b9; }
      
      .table-danger {
        --bs-table-bg: #f8d7da;
        --bs-table-striped-bg: #eccccf;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #dfc2c4;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #e5c7ca;
        --bs-table-hover-color: #000;
        color: #000;
        border-color: #dfc2c4; }
      
      .table-light {
        --bs-table-bg: #f8f9fa;
        --bs-table-striped-bg: #ecedee;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #dfe0e1;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #e5e6e7;
        --bs-table-hover-color: #000;
        color: #000;
        border-color: #dfe0e1; }
      
      .table-dark {
        --bs-table-bg: #212529;
        --bs-table-striped-bg: #2c3034;
        --bs-table-striped-color: #fff;
        --bs-table-active-bg: #373b3e;
        --bs-table-active-color: #fff;
        --bs-table-hover-bg: #323539;
        --bs-table-hover-color: #fff;
        color: #fff;
        border-color: #373b3e; }